.footer {
  background-color: #929393;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #494949;
  border-radius: 100%;
  padding: 5px;
  margin: 0px 5px;
  box-sizing: content-box;
  width: 30px;
  cursor: pointer;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #494949;
  font-size: 11px;
}

.copyright a {
  color: #494949;
  padding: 0px 2.5px;
}
